{
    "eslintIntegration": true,
    "stylelintIntegration": true,
    "printWidth": 120,
    "useTabs": false,
    "tabWidth": 2,
    "singleQuote": true,
    "semi": false,
    "trailingComma": "all",
    "jsxBracketSameLine": false,
    "endOfLine": "auto",
    "arrowParens": "avoid"
}